<div class="row justify-content-center">

<%= link_to 'Sign Up ', new_user_registration_path, :class => "btn btn-outline-secondary btn-lg " %> 
<br>
<br>
<%= link_to 'Sign In ', new_user_session_path, :class => "btn btn-outline-secondary btn-lg " %>
<br>
<br>
<%= link_to 'Sign Up Admin USE ONLY', new_admin_registration_path, :class => "btn btn-outline-secondary btn-lg " %> 
<br>
<br>
<%= link_to 'Sign In Admin USE ONLY ', new_admin_session_path, :class => "btn btn-outline-secondary btn-lg " %>
</div>